.copyright {
  background-color: white;
  margin-bottom: 0px;
  padding: 30px;
  text-align: center;
  color: grey;
}

.break-line {
  margin: 0px 0px 1px 0px;
  color: black;
  padding-top: 50px;
  background-color: white;
  border-left-color: white;
  border-right-color: white;
  border-top-color: white;
}

.terms-conditions {
  margin-top: 20px;
}