.copyright {
  background-color: black;
  margin-bottom: 0px;
  padding: 30px;
  text-align: center;
  color: grey;
}

.break-line {
  width: 350px;
  background-color: black;
  margin: 0%;
}

.terms-conditions {
  margin-top: 20px;
}