/* .locations-line {
  background-color: blue;
  width: 10px;
  margin: 0px;
  background-color: black;
} */

.locations-title {
  background-color: white;
  color: black;
  font-size: 60px;
  text-align: center;
  padding-bottom: 40px;
}

.locations-row-one {
  padding-top: 0px;
  background-color: white;
  color: black;

  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 50%;
  text-align: center;
}

.locations {
  text-align: center;
  background-color: white;
  font-size: 30px;
  margin-bottom: 70px;
}

.locations-row-two {
  padding-top: 0px;
  background-color: white;
  color: black;

  display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 50%;
    text-align: center;

}.locations-row-three {
  background-color: white;
  color: black;

  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 50%;
  text-align: center;
}

.last-location {
  background-color: white;
  text-align: center;
  color: black;
  padding-bottom: 70px;
  font-size: 30px;
}