.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: red;
}

ul.navbar {
  margin-top: 0px;
}

.logo {
  width: 40%;
  height: 40%;
}

li {
  color: white;
  list-style: none;
  font-size: 50px;
  margin-top: 10%;
  font-weight: 700;
}

.title {
  display: block;
  font-size: 50px;
  text-align: center;
}
