.navbar {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(blue, blue, black)
}

ul.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  color: white;
  list-style: none;
  font-size: 50px;
  margin-top: 15px;
  /* margin-bottom: 15px; */
  font-weight: 700;
}
.links {
  text-decoration: none;
  color: white;
}

li:hover {
  text-decoration: underline;
  color: red;
}

.logo-container {
  background-color: black;
}

.logo {
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;

}

.title {
  display: block;
  font-size: 50px;
  text-align: center;
}
