.products-title {
  background-color: white;
  text-align: center;
  color: black;
  font-size: 50px;
}

.products-container {
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  color: black;
}

.product-image {
  width: 100%;
}

.product-description {
  text-align: center;
}

.product-break {
  margin: 20px 40% 20px 40%;
  border-color: blue;
}

.bundle-two {
  width: 380px;
  /* margin-right: 10%; */
}

.purchase-button {
  margin: 0px 40% auto;
}